<html>
<head>
  <link rel="stylesheet" href="/style.css"/>
  <title><%= entry['Title'] %></title>
</head>
<body>
<div class="viewer-full-page">
  <a href="/">&larr; Back</a>

  <h1><%= entry['Title'] %></h1>
  <%= html %>
</div>
</body>
</html>