<html>
<head>
  <link rel="stylesheet" href="/style.css"/>
  <title>JournalViewer</title>
</head>
<body>

<div id="container">
  <%= cache_html %>
</div>
</body>
<script type="text/javascript" src="/lib/underscore.js"></script>
<script type="text/javascript" src="/lib/jquery-2.2.3.js"></script>
<script type="text/javascript" src="/lib/react.js"></script>
<script type="text/javascript" src="/lib/react-dom.js"></script>
<script type="text/javascript" src="/main.js"></script>
</html>